#container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container > div {
    border: 5px black solid;
    height: 20vh;
    width: 10vw;
}

