body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sContainer > .items {
    border: 1px black solid;
    width: 1.5vw;
    height: 3vh;
}

button {
    margin-top: 2vw;
    margin-bottom: 5vw;
}