body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25vw;
}


.sContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sContainer > .items {
    border: 1px black solid;
    height: 3vh;
    width: 1.5vw;
}

button {
    margin-top: 2vw;
    margin-bottom: 5vw;
}